<div class="container">
    <div class="row" ng-if="myinfoCtrl.currentUser">
        <div class="col-md-4">
            <h2>Current user</h2>
            <div>Firstname: {{myinfoCtrl.currentUser.firstname}}</div>
            <div>Lastname: {{myinfoCtrl.currentUser.lastname}}</div>
            <div>Email: {{myinfoCtrl.currentUser.email}}</div>
            <div>Phone: {{myinfoCtrl.currentUser.phone}}</div>
            <div ng-if="myinfoCtrl.currentUser.favourite">Favourite: {{myinfoCtrl.currentUser.favourite}}</div>
        </div>
        <div class="col-md-3" ng-if="myinfoCtrl.currentUser.favourite">
            <h2>Favourite dish</h2>
            <div>
                <img ng-src="{{myinfoCtrl.basePath}}/images/{{myinfoCtrl.menuItem.short_name}}.jpg" />
            </div>
            <div>
                <p>
                    {{myinfoCtrl.menuItem.name}}
                </p>
            </div>
            <div>
                <p>{{myinfoCtrl.menuItem.description}}</p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!myinfoCtrl.currentUser">
        <div>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>
    </div>
</div>
